@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 400;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-size: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto;
  font-style: normal;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



a.broun {
  background: #756157;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
}

.button {
  border-radius: 4px;
  background: #82B3D3;
  color: #000000;
  text-decoration: none;
}

/* header */
.header-icon-image{
  display: block;
  margin-right:47px;
}
.page-header {
  color: #000000;
  background-color: white;

}

.navigation {
  display: flex;
  align-items: center;
}

ul.navigation-list {
  display: flex;
  margin-right: auto;
}

ul.navigation-user {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  padding-right: 30px;
}
.navigation-link:nth-child(3){
  padding-right:0;
}
.background-title {
  background-image: url("../images/index-background.jpg");
  max-width: 1200px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  min-height: 485px;
  position: relative;
  margin-bottom:63px;
}
.background-bottom{
  background-image: url("../images/bacground_bottom.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -2px;

}
.advantages-logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 31px;
  text-align: center;
  max-width: 620px;

}

/* center box */
.main-column {
  flex-grow: 1;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 46px;
}

.five-why {
  font-size: 22px;
  line-height: 26px;
  display: block;
  padding-bottom: 90px;
  margin: 0;
  text-align: center;
}
.inner-header{
  background: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  box-sizing: border-box;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
  margin-bottom: 55px;
}
.inner-header-title{
  font-size: 60px;
  margin: 0 0 10px 0;
  line-height: 78px;
  display: flex;
}
.filter-main{
  display: flex;
  justify-content: space-between;
}
.catalog-filter-title{
  font-size: 20px;
  line-height: 26px;
  padding-bottom:30px ;
}
.catalog-filter-item{
  padding-bottom:15px ;
}
.control-input{
  margin-right: 19px;
}
.filter-footer{
  margin-left:auto;
  display: flex;
  flex-direction: column;
  align-self: flex-end;

}
.button-accept{
  padding: 14px 15px 14px 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  width: 160px;
  text-transform: uppercase;
  margin-bottom: 20px;
  
}
.button-reset{
  background-color: transparent;
  color: #ffffff;
  border: 0;
}
.bradcrumbs{
  display: flex;
  margin-bottom: 40px;
  column-gap: 10px;
}
.box-icon {
  Width: 400px;
  height: 384px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  padding: 85px;
  padding-top: 182px;
}

.box,.box-blue {
  width: 400px;
  height: 384px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
  padding: 90px 85px 30px 85px;
}

.box-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.box-icon.white {
  background-color: #ffffff;
}

.box .advantages-title {
  padding-top: 13px;
}

.box-blue .advantages-title-special {
  color: #ffffff;
  margin: 0;
}

.group-flex h3 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 30px;
}

span.number {
  display: inline-block;
  padding-bottom: 30px;
}

.box p ,.box-blue p,.box-icon p{
  margin: 0;
}

.house::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translatex(-50%);
}

.present:before {
  content: '';
  width: 65px;
  height: 76px;
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
}
.box-icon:not(:nth-child(2)),.box{
  background-color:rgba(131, 179, 211, 0.12);
}
.group-flex .advantages-item:nth-child(2){
  background: rgba(131, 179, 211, 0.2);
}

.food:before {
  content: '';
  width: 76px;
  height: 73px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/food.svg")
}


.register-tour {
  content: "";
  text-align: center;
  position: relative;
  background-color: ffffff;
  border: 0;
  height: 417px;
  box-sizing: border-box;
  padding-top: 91px;

}

.register-tour-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  padding-bottom: 29px;
  margin: 0;

}

.register-tour p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  padding-bottom: 56px;
  max-width: 530px;
}
.pagination-link{
  text-decoration: none;
  color: white;
  width: 60px;
  height: 60px;
  background-color:#82B3D3 ;
  display: block;
  text-align: center;
  border-radius: 4px;
  line-height:36px;
  font-size: 20px;
  padding-top: 12px;
  box-sizing: border-box;
}
.pagination-current{
  background-color: #F2F2F2;
  color: #000000;

}
/* footer */

.newsletter {
  text-align: center;
  color: white;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 411px;
  padding-top: 94px;
  box-sizing: border-box;
}
.newsletter-inner{
  background-image: none;
  color: #000000;
}

.page-footer-tytle {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin:0;
  margin-bottom:29px ;
}

.newsletter p {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 46px;
  width: 475px;
}

.newsletter-button {
  padding: 12px 15px;
}

.button-name {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;

}
.social-link{
  display: block;
  width: 48px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
}
.phone-infoline {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.register-tour-button {
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 15px;
  text-transform: uppercase;
  min-width: 574px;
  display: inline-block;
  margin-bottom: 93px;
}
label.e-mail{
  display: inline-block;
}
.e-mail input{
  width:600px;
  height:60px;
  border-radius: 10px 0 0 10px;
  padding: 0 0 0 20px;
  border: 0;
  background-color: #F2F2F2;
}
.group-flex {
  display: flex;
  flex-wrap: wrap;
}
.about-image{

}

/* style for catalog */
span.star {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}
.rating-word{
  background: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
}
.rating-list {
  display: flex;
  align-items: center;
}
.quantity-hotel{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-right: auto;
}
.number-hotel-in-page{
  margin-left: 51px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left:20px;
  width: 160px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
}
.catalog-filter-group {
  width: 150px;
  display: inline-block;
  margin-right: 70px;
}
.catalog-filter-group:last-child{
  margin:0;
}

.product-list {
  display: flex;
  width: 1060px;
  flex-wrap: wrap;
  column-gap: 18px;
  margin-bottom: 66px;
}

.product-card {
  background-color: #ffffff;
  width: 340px;
  height: 438px;
  box-sizing: border-box;
  padding: 20px;
}
.product-card-link{
  text-decoration: none;
  color: #000000;
}
.product-card-title{
  margin:0;
  padding: 16px 0;
}
.card-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:20px;
  row-gap: 16px;
}
/* sort */
.header-card{
  display: flex;
  margin-bottom:58px ;
  justify-content: space-between;
  align-items: center;
}
.sort{
  order:1;
  width: 160px;
}
.sort-button{
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
  text-decoration: none;
}
.sort-button:not(:first-child){
  border: 2px solid #E5E5E5;
}
.selection-control{
  width: 290px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 0 20px 0 20px;
  margin-right: 78px;
}
/* sort-end */

.button-gallery {
  border-radius: 4px;
  color: #ffffff;
  padding: 9px 15px 8px 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px
}

.button-bue {
  background: #756157;

}

.button-favourite {
  background: #82B3D3;

}

.footer-gallery {
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  gap: 8px;
  margin:30px 0 20px 0;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* dodtek */
.container{
  padding: 0 70px;
}
.advantages-item:last-child{
  padding-right: 0;
}
.footer-container{
display: flex;
box-sizing: border-box;
width: 100%;
justify-content: space-between;
height:120px;
padding-top: 45px;
padding-bottom: 35px;
}
