@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 400;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-size: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  font-weight: 400;
  width: 1200px;
  margin: 0 auto;
  font-style: normal;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.navigation-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advantages-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}



.button {
  border-radius: 4px;
  background: #82B3D3;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  border: 0;
  font-family: "PT sans",sans-serif;
}


/* header */
.header-icon-image {
  display: block;
  margin-right: 30px;
  z-index: 1;
  position: relative;
}

.navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}

.navigation-list {
  display: flex;
  margin-right: auto;
  flex-wrap: wrap;
}

.navigation-icon{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
}
.count-badge{
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding:3px 5px;
  letter-spacing: -0.1em;
  margin-top: 15px;
  right: 0;
}


.navigation-user {
  max-width: 270px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items:center;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.navigation-item .button-brown{
  min-width:160px;
  display: block;
  box-sizing: border-box;
  margin-left: 20px;
}

.navigation-link {
  font-size: 20px;
  font-family: "Pt Sans", sans-serif;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 17px ;
  box-sizing: border-box;
  position: relative;
  display: block;
}

.navigation-user .navigation-link{
  padding: 0;
  min-width: 42px;
  min-height: 66px;
}

.button-brown {
  border-radius: 4px;
  background: #756157;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  border: 0;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px 8px;

}

.background-title {
  background-image: url("../images/index-background.jpg");
  max-width: 1200px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  min-height: 485px;
  position: relative;
  margin-bottom: 63px;
  margin-top: -5px;
}

.background-title::before {
  content: "";
  background-image: url("../images/bacground_bottom.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-position: center bottom;
}

.advantages-logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 31px;
  text-align: center;
  max-width: 620px;
}

/* center box */
.main-column {
  flex-grow: 1;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.five-why {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 90px;
  margin: 0 auto;
  max-width: 670px;

}

.inner-header {
  background: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  box-sizing: border-box;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
  margin-bottom: 55px;
  margin-top: -5px;
}

.inner-header-title {
  font-size: 60px;
  margin: 0 0 10px 0;
  line-height: 78px;
}

.filter-main {
  display: flex;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 15px;
}

.filter-footer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom:-20px;
}

.button-accept {
  padding: 14px 15px 14px 15px;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  font-weight: 700;
}

.button-reset {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  padding: 20px 0 20px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: "PT sans",sans-serif;
}

.breadcrumbs {
  display: flex;
  column-gap: 25px;
  position: relative;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrums-item:nth-child(2):before {
  content: "";
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 6px;
  height: 9px;
  position: absolute;
  bottom: 0;
  top: 30%;
  transform: translate(-15px);
}

.box-icon {
  Width: 400px;
  min-height: 384px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 182px 85px 20px;
}

.box,
.box-blue {
  width: 400px;
  min-height: 384px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 90px 85px 30px 85px;
}

.box-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.box-icon.white {
  background-color: #ffffff;
}

.box .advantages-title {
  padding-top: 13px;
}
.illustrative{
  display: block;
}
.box-blue .advantages-title-special {
  color: #ffffff;
  margin: 0;

}

span.number {
  display: inline-block;
  padding-bottom: 30px;
}

.box p,
.box-blue p,
.box-icon p {
  margin: 0;
}

.house::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translatex(-50%);
}

.present:before {
  content: '';
  width: 65px;
  height: 76px;
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
}

.box-icon:not(:nth-child(2)),
.box {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background: rgba(131, 179, 211, 0.2);
}

.food:before {
  content: '';
  width: 76px;
  height: 73px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/food.svg")
}


.register-tour {
  text-align: center;
  border: 0;
  min-height: 417px;
  box-sizing: border-box;
  padding: 91px 290px 93px;
}

.register-tour-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 29px;
  margin: 0;
}

.register-tour p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  padding-bottom: 56px;
}

.pagination-link {
  width: 60px;
  height: 60px;
  display: block;
  line-height: 36px;
  font-size: 20px;
  padding: 12px;
  font-weight: 700;
  box-sizing: border-box;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
  text-align: center;
  margin-left: 1px;
}

/* footer */

.newsletter {
  text-align: center;
  color: white;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 411px;
  padding: 94px 180px;
  box-sizing: border-box;
}

.newsletter-inner {
  background-image: none;
  color: #000000;
}

.page-footer-tytle {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.newsletter p {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 46px;
  width: 475px;
}

.button-name {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;

}

.footer-social-list {
  display: flex;
  max-width: 150px;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.social-link {
  position: relative;
  display: block;
  width: 48px;
  height: 40px;
  color:#83B3D3;
  text-decoration: none;
}

.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phone-infoline {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  letter-spacing: -1px;
}

.register-tour-button {
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  padding: 12px 15px;
  min-width: 574px;
  display: inline-block;
  box-sizing: border-box;
}

.field {
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  padding: 0 0 0 22px;
  border: 0;
  background-color: #F2F2F2;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT sans",sans-serif;

}

.newsletter-button {
  padding: 12px 15px;
  background: #82B3D3;
  border-radius: 0 10px 10px 0;
  border: 0;
  cursor: pointer;
  width:200px;
  font-family: "PT sans",sans-serif;
}

.newslatter-form {
  display: flex;
  justify-content: center;
}

.group-flex {
  display: flex;
  flex-wrap: wrap;
}

.group-flex h3, .flex-box h3{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 30px;

}

/* style for catalog */
span.star {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.rating-word {
  font-family: "PT Sans", sans-serif;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 8px 8px 9px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.rating-list {
  display: flex;
  align-items: center;
  gap: 6px;
}

.quantity-hotel {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  margin-right: auto;
}

.number-hotel-in-page {
  margin-left: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 160px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 14px 18px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 19px center ;
  appearance: none;
  box-sizing: border-box;
  font-family: "PT sans",sans-serif;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 1060px;
  flex-wrap: wrap;
  column-gap: 18px;
  margin-bottom: 66px;
  margin-left:2px;

}
.htmlacademy-link{
  text-decoration: none;
  color: #000000;
}
.product-card {
  background-color: #ffffff;
  width: 340px;
  height: 438px;
  box-sizing: border-box;
  padding: 21px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-image {
  display: block;
}

.product-card-title {
  margin: 0;
  padding: 16px 0;
  font-weight: 700;
font-size: 24px;
line-height: 28px;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

/* sort */
.header-card {
  display: flex;
  margin-bottom: 54px;
  justify-content: space-between;
  align-items: center;
}

.sort {
  order: 1;
  display: flex;
  gap: 8px;
  width: 160px;
}

.sort-button {
  border: 2px solid #000000;
  border-radius: 4px;
  text-decoration: none;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;

}

.sort-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sort-button:not(:first-child) {
  border: 2px solid #E5E5E5;
}
.select{
  position: relative;
  display: flex;
  align-items: center;
  width:290px;
  margin-right: 78px;
}
.selection-control {
  width: 100%;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 21px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center ;
  appearance: none;
  box-sizing: border-box;
  font-family: "PT sans",sans-serif;
}

/* sort-end */

.button-gallery {
  padding: 9px 15px 8px 15px;
  font-size: 16px;
  line-height: 20px
}



.button-active {
  background-color: #7DB54F;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #FFFFFF;
  border: 0;
  font-size: 16px;
  line-height: 20px;
}

.footer-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 30px 0 25px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* dodtek */
.container {
  padding: 0 70px;
}
.container-galery{
  margin: 1px;
}

.footer-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  min-height: 120px;
  padding-top: 45px;
  padding-bottom: 35px;

}

/* button */
.button-active:focus,
.button-active:hover {
  background: #6C9E42;
}

.button-brown:hover,
.button-brown:focus {
  background: #615048;
  outline: none;
}
.button-brown:active,
.button-active:active,
.button:active ,
.button-name:active,
.newsletter-button:active{
  color: rgba(255, 255, 255, 0.3);
 }

.button:hover,
.button:focus {
  background: #68A2CA;
  outline: none;
}

.button:disabled,
.button-brown:disabled,
.button-active:disabled {
  background: #E5E5E5;
}

.button:disabled:hover,
.button-brown:disabled:hover,
.button-active:disabled:hover {
  background: #E5E5E5;
  outline: none;
  cursor: default;
}

.social-link:hover,
.social-link:focus {
  color: #68A2CA;
  outline: none;
}
.social-link:active{
  color:rgba(104, 162, 202, 0.3); ;
}
.phone-infoline:focus,
.phone-infoline:hover {
  color: #756157;
  outline: none;
}
.phone-infoline:active,
.htmlacademy-icon:active{
  color: rgba(117, 97, 87, 0.3);
}
.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #756157;
  outline: none;
}

.navigation-link-active::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  left: 17px;
  right: 17px;
  bottom: 0;
  z-index: 2;
  background-position: center bottom;
}

.sort-button:hover {
  border: 2px solid #000000;
}

.sort-button:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.breadcrums-link:hover,
.breadcrums-link svg:hover {
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6) ;
  mask-image: url();
}
.navigation-link:hover:not(.button-brown),
.navigation-link:focus:not(.button-brown),
.navigation-icon:hover
,.navigation-icon:focus{
  color: #756157;
  outline: none;
}
.navigation-link:active:not(.button-brown){
  color: rgba(117, 97, 87, 0.3);
}
.range-scale{
  position:relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top:10px;

}
.range-bar{
  position: absolute;
  background-color: white;
  opacity: 1;
  height:4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  left:0;
}
.range-toggle{
  position: absolute;
  width:20px;
  height:20px;
  background-color: #ffffff;
  border-radius: 5px;
  border:0;
}
.range-toggle:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus{
  border: 3px solid #83B3D3;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:active{
  border: 2px solid #83B3D3;
  box-shadow: px 7px 15px rgba(0, 0, 0, 0.4);
}
.toggle-min{
  top:-8px;
  left: 0;
}
.toggle-max{
  top:-8px;
  right:-10px;
}
.range-wrapper-inputs{
  display: flex;
}
.catalog-filter-label{
  display: flex;
  box-sizing: border-box;
  position: relative;
  margin-right: -2px;
}

.range-input{
  font: inherit;
  border:2px solid white;
  background-color: transparent;
  color:white;
  width:145px;
  padding: 10px 14px;
  margin-bottom: 20px;
  display: block;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
}
.range-input-right{
  border-radius: 0 4px 4px 0;
}
.range-input-word{
  opacity: 0.3;
  position: absolute;
  right: 14px;
  top: 10px;
}
.catalog-filter-labe:last-child{
  margin-right: 0;
}
.range-input:hover{
  border: 2px solid rgba(255, 255, 255, 0.6)
}
.range-input:focus{
  box-shadow: 0 0 0 3px #81B3D2;
  outline: none;
}
.range-input:active{
  background: #756257;
}
.range-
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 71px;
}
.catalog-filter-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.catalog-filter{
  display: flex;
}
.slider{
  margin-left:105px;
}
.slider .catalog-filter-title{
  padding-bottom:36px ;
}
.control-mark{
  background: #FFFFFF;
  border-radius: 4px;
  width:20px;
  height:20px;
  position: absolute;
  left:0;
  box-sizing: border-box;
}
.control{
  position: relative;
  display: block;
  padding-left: 40px;
}
.control:hover .control-mark{
  background: rgba(255, 255, 255, 0.6);
}
.control:focus .control-mark{
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83B3D3;
  outline: none;
}
.control:active .control-mark{
  background: rgba(255, 255, 255, 0.3);
}
.control-input:disabled + .control-mark{
  border-color:#242424;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  content: "";
  background-image: url("../images/check.svg");
  width: 13px;
  height: 10px;
  box-sizing: border-box;
}
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #3F5E72;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.button-reset:hover{
  opacity: 0.6;
}
.button-reset:focus{
  outline: 3px solid #83B3D3;

}
.button-reset:active{
  opacity: 0.3;
}
.selection-control:hover,
.selection-control:focus,
.number-hotel-in-page:focus,
.number-hotel-in-page:hover{
  border: 2px solid #68A2CA;
  outline: none;
}
.selection-control:active,
.number-hotel-in-page:active{
  border: 2px solid #3F5E72;
}
